@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './normalize.css';

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  button,
  input[type='submit'] {
    outline: none;
    &::-moz-focus-inner {
      border: none;
    }
  }

  body {
    margin: 0;
    padding: 0;
  }
}
#root {
  height: 100%;
  .App {
    background: hsla(177, 87, 79);
    background: linear-gradient(
      90deg,
      hsla(177, 87, 79, 1) 0%,
      hsla(235, 89, 70, 1) 100%
    );
    background: -moz-linear-gradient(
      90deg,
      hsla(177, 87, 79, 1) 0%,
      hsla(235, 89, 70, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      hsla(177, 87, 79, 1) 0%,
      hsla(235, 89, 70, 1) 100%
    );
   min-height: 100vh;
    display: flex;
    flex-direction: column;

    #new-book-form {
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 50%;
      margin-top: 1%;

      .new-book-input {
        display: flex;
        flex-direction: row;
        height: 7vh;
        overflow: hidden;
      }

      input[type='text'] {
        width: 85%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-size: 1.5em;
      }

      label {
        margin: 0;
        text-align: center;
        font-size: 1.2em;
        color: white;
        min-height: 50%;
      }

      input[type='submit'] {
        width: 15%;
        height: 100%;
        border: none;
        background-color: green;
        color: white;
        font-size: 1.5em;
      }
    }
  }

  h1 {
    text-align: center;
    margin: 0;
    margin-top: 1%;
    color: white;
  }
  .container {
    margin: 1% 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    .book {
      min-height: 60vh;
      width: 20%;
      margin: 0 2%;
      margin-top: 2%;
      display: flex;
      flex-direction: column;

      i {
        display: block;
        font-style: normal;
        user-select: none;
      }

      .book-cover {
        width: 100%;
        height: 85%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .edit-form {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          z-index: 10;
          height: 100%;
          width: 100%;
          overflow: hidden;
          background-color: darkslategray;

          & input {
            height: 17%;
            font-size: 1.7em;
            width: 80%;
            margin: 5% 1%;
            overflow: hidden;
          }
          & input[type='submit'] {
            background-color: green;
            border: none;
            width: 90%;
            height: 15%;
            color: white;
            margin-top: auto;
          }
        }

        .book-info {
          display: flex;
          flex-direction: column;
          color: white;
          justify-content: space-around;
          height: 100%;
          width: 100%;
          background-color: rgba($color: #2f4f4f, $alpha: 0.8);
          text-align: center;

          h3:first-of-type{
            margin-top: auto;
          }
          h3{
            margin: 5% 5%;
            word-break: break-all;
          }

          #edit-button {
            height: 20%;
            width: 33%;
            background-color: green;
            color: white;
            border: none;
            font-size: 1.4em;
          }

          .delete-div {
            width: 100%;
            height: 20%;
            margin-top: auto;
            background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;

            i {
              color: white;
              font-size: 1.7em;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .button-group {
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        #info-button {
          background-color: darkblue;
          margin: 0;
          padding: 0;
          border: 0;
          color: white;
          font-size: 2em;
          width: 50%;
        }

        #read-button {
          margin: 0;
          padding: 0;
          width: 50%;
          background-color: darkkhaki;
          font-size: 1.5em;
          border: none;
          color: white;
        }
      }
    }
  }
}

@media only screen and (max-width:800px){
  .book{
    min-height: 30vh !important;
    width: 30% !important;
  }
}
@media only screen and (max-width:768px){
  .book{
    min-height: 40vh !important;
    width: 30% !important;
  }
}
@media only screen and (max-width:420px){
  #new-book-form{
    width: 80% !important;
  }
  .container{
    margin-top: 5% !important;
  }
  .book{
    margin-top: 5% !important;
    min-height: 50vh !important;
    width: 70% !important;
  }
}
@media only screen and (max-width:390px){
  #new-book-form input[type="text"]{
    width: 70% !important;
  }
  #new-book-form input[type="submit"]{
    width: 30% !important;
  }
  .book{
    min-height: 50vh !important;
    width: 70% !important;
  }
}
@media only screen and (max-width:320px){
  #new-book-form input[type="text"]{
    width: 70% !important;
  }
  #new-book-form input[type="submit"]{
    width: 30% !important;
  }
  .book{
    min-height: 60vh !important;
    width: 80% !important;
  }
}


